body {
    background-color: transparent !important;
}

.main-title {
    font-size: 8rem;
    color: red;
}

.homeImageBackground {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: url(../images/2001.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.landingImageBackground {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: url(../images/landing.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.title {
    font-size: 2.5rem;
    color: white;
}

.landingElements {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.controlImageBackground {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: url(../images/europa.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.wrapper-bottom-button {
    text-align: center;
}

.bottom-button {
    position: absolute;
    top: 90%;
}

.gridcol {
    padding: 0;
    margin: 0;
    border: 2px solid gray;
    height: 50px;
    width: 50px;
    background-color: lightgray;
    opacity: 0.6;
}

.gridHeaders {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: lightgray;
    opacity: 0.6;
}

.rover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.colRed {
    color: red;
}

.colBlue {
    color: blue;
}

.colGreen {
    color: green;
}

.colYellow {
    color: yellow;
}
.colPurple {
    color: purple;
}
.colBlack {
    color: black;
}
.colGray {
    color: gray;
}
.colSalmon {
    color: #FA8072;
}
.colPink {
    color: #FFC0CB;
}
.colGold {
    color: #FFD700;
}
.colMagenta {
    color: #FF00FF;
}

.roverId {
    border: 1px solid white;
}

.control {
    background-color: #757575;
}

.directions {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
}

.directions_caption {
    font-size: 0.9rem;
}

.controlRover {
    position: fixed;
    top: 20%;
    right: 0;
    left: auto;
    bottom: auto;
}

.newRover {
    position: fixed;
    top: 20%;
    right: auto;
    left: 0;
    bottom: auto;
}