@{
    ViewData["Title"] = "Grid";
}

<div class="landingImageBackground">
</div>

<div class="landingElements">
    <h1 class="title pt-1 text-center">Landing Zone</h1>
    <p class="pl-3 pr-3">
        In order to be able to deploy rovers to Europa, we need to define a landing sport.
        Lucky for us, there are several locations that have been previously scanned as
        potential zones for our deployement and preparation for colonization.
        Once landing zone is selected, it cannot be changed.
        Choose safe, choose wisely.
    </p>
    <div class="d-flex align-items-center flex-column">
        <select class="mb-3" id="gridSize">
            <option value=1>Colt (1 x 1 square)</option>
            <option value=2>Dot (2 x 2 squares)</option>
            <option value=3>Liz (3 x 3 squares)</option>
            <option value=4>Mack (4 x 4 squares)</option>
            <option value=5>Brace (5 x 5 squares)</option>
            <option value=6>Sierra (6 x 6 squares)</option>
            <option value=7>Oasis (7 x 7 squares)</option>
            <option value=8>Hereford (8 x 8 squares)</option>
            <option value=9>Schueller (9 x 9 squares)</option>
            <option value=10>Kate (10 x 10 squares)</option>
        </select>
        <a class="btn btn-primary open-newRover mb-5" data-toggle="modal" id="newGrid">
            DEFINE LANDING
        </a>
    </div>
</div>
<div class="landingZone">
</div>
