@{
    ViewData["Title"] = "Home Page";
}

<div class="homeImageBackground">
</div>

<div class="main-title d-flex justify-content-center">
    <p>DAY-9000</p>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-danger bottom-button" onclick="location.href='@Url.Action("", "Rover")'">ENTER</button>
</div>

